$grey: #333333;
$text: #575757;
$bgLight: #f3f3f3;
$pink: #ff4e59;
$million: #ff5d54;
$light: #6d6d6d;
$dark: #222222;
$diamond: #cc9b18;
$orange: #ffa960;
$darkOrange: #e09454;
$iconOrange: #f15a46;
$darkRed: #b1483e;
$roundsPlace: #cccdcd;
$roundsPlaceInner: #dbdbdc;
$divider: #d86c61;
$mapActive: #ee7166;
$map: #e6e6e6; //#edeff1;
$mapLabel: #da4839;
