@import 'colors';
@import 'main';
@import 'breakpoints';

@mixin gradient {
  background-image: -moz-linear-gradient( 22deg, rgb(250,127,76) 0%, rgb(251,51,96) 100%);
  background-image: -webkit-linear-gradient( 22deg, rgb(250,127,76) 0%, rgb(251,51,96) 100%);
  background-image: -ms-linear-gradient( 22deg, rgb(250,127,76) 0%, rgb(251,51,96) 100%);
}

@mixin abs-full {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin rotate {
  transform: skewX(-8deg) rotate(-6deg);
}

@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-mobile {
  text-align: center;
  padding: 70px 0;
  position: relative;
  overflow: visible!important;
  color: #ffffff;
  .wave-top {
    z-index: 1;
  }
  svg {
    fill: #222222;
  }
  .company-name {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  display: none;
  @media ($bpsm) {
    display: block;
  }
}
.main-mobile-title {
  max-width: 300px;
  margin: 0 auto 20px auto;
  text-align: center;
}

// ======= NAVIGATION =======
.mob-logo-img {
  display: none;
  width: 54px;
  height: 54px;
  position: absolute;
  top: 15px;
  left: 5px;
  @media ($bpxs) {
    display: block;
  }
}
.navigation-mob {
  display: none;
  height: 30px;
  border: 1px solid red;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @media ($bpxs) {
    display: block;
  }
}
.navigation {
  z-index: 10;
  background: #ffffff;
  .container {
    display: flex;
    flex-direction: row;
  }
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 77px;
  @media ($bpxs) {
    display: none;
  }
}
.logo {
  cursor: pointer;
  height: 76px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  bottom: -10px;
}
.logo-img {
  width: 82px;
  margin-right: 20px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  @media ($bpmd) {
    margin-right: 0;
  }
}
.slogan {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding-bottom: 16px;
  width: 160px;
  @media ($bpmd) {
    display: none;
  }
}
.menu {
  width: 100%;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  @media ($bpxs) {
    display: none;
  }
}
.menu-item {
  cursor: pointer;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: 500;
  position: relative;
  &:after {
    transition: all 0.2s linear;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 0;
    background: #f64f53;
  }
  &:hover {
    &:after {
      left: 0;
      width: 100%;
    }
  }
  &.last {
    margin-right: 20px;
    @media ($bpmd) {
      margin-right: 5px;
    }
  }
}
.pk-button {
  transition: all 0.1s linear;
  cursor: pointer;
  display: inline-block;
  padding: 15px 25px;
  background-image: -moz-linear-gradient( 180deg, rgb(254,78,85) 0%, rgb(254,103,77) 64%, rgb(254,128,69) 100%);
  background-image: -webkit-linear-gradient( 180deg, rgb(254,78,85) 0%, rgb(254,103,77) 64%, rgb(254,128,69) 100%);
  background-image: -ms-linear-gradient( 180deg, rgb(254,78,85) 0%, rgb(254,103,77) 64%, rgb(254,128,69) 100%);
  color: #ffffff;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 300;
  &:hover {
    //background: #FE4E55;
    margin-top: -2px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }
  // @media (max-width: 1024px)
  @media($bplg) {
    display: none;
  }
}
// ======= MAIN =======
.main {
  position: relative;
  //background: url('../img/back.jpg') top center;
  background-size: cover;
  overflow: hidden;
  background: -webkit-linear-gradient(6deg, rgb(240, 91, 69) 0%, rgb(246, 124, 113) 50%, rgb(243, 113, 99) 100%);
  background: -o-linear-gradient(6deg, rgb(240, 91, 69) 0%, rgb(246, 124, 113) 50%, rgb(243, 113, 99) 100%);
  background: -ms-linear-gradient(6deg, rgb(240, 91, 69) 0%, rgb(246, 124, 113) 50%, rgb(243, 113, 99) 100%);
  background: -moz-linear-gradient(6deg, rgb(240, 91, 69) 0%, rgb(246, 124, 113) 50%, rgb(243, 113, 99) 100%);
  background: linear-gradient(84deg, rgb(240, 91, 69) 0%, rgb(246, 124, 113) 50%, rgb(243, 113, 99) 100%);
}

// =======================================
// =======================================
// =======================================
// =======================================
.main-wrap {
  max-width: 1300px;
  margin: 0 auto;
}
.main-block {
  height: 672px;
  background: url('../img/main.jpg');
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.main-nav {
  height: 70px;
  background: #354C55;
  position: relative;
  color: #dedede;
  margin-bottom: 3px;
}
.info-wrap {
  width: 53%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  transform: skewX(-20deg);
}
.info {
  position: absolute;
  top: 100px;
  left: 170px;
  text-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.site-name {
  font-size: 66px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  span {
    font-size: 40px;
    font-weight: 300;
  }
}
.site-slogan {
  font-size: 24px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #94d5d8;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: -8px;
}
.site-desc {
  margin-left: -40px;
  font-size: 32px;
  color: #ffffff;
  line-height: 44px;
  margin-bottom: 36px;
}
.warranty {
  svg {
    display: inline-block;
    vertical-align: middle;
    width: 56px;
    height: 56px;
    fill: #dc7f6c;
    margin-right: 10px;
  }
  color: #ffffff;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 34px;
  margin-left: -80px;
  font-weight: 300;
  text-transform: uppercase;
  font-weight: bold;
}
.site-logo-wrap {
  position: absolute;
  top: 18px;
  left: 20px;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  svg {
    display: inline-block;
    fill: #dedede;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -1px;
  }
  .name {
    display: inline-block;
    vertical-align: middle;
  }
}
.contacts {
  position: absolute;
  right: 20px;
  top: 22px;
}
.contacts-item {
  display: inline-block;
  margin-left: 15px;
  color: #dedede;
  border-left: 1px solid #dedede;
  padding-left: 15px;
  svg {
    vertical-align: middle;
    display: inline-block;
    fill: #dedede;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-top: -2px;
  }
  a {
    font-size: 18px;
    text-decoration: none;
    color: #dedede;
  }
}
