.letter
  .letter-block
    h3 <span class="h-icon hi"></span>Привет, дорогая!
    p Сейчас ты читаешь письмо, которое изменит твою жизнь) И даже если ты не станешь частью нашей дружной женской семьи, в твоем сердце все равно останутся отзывы и фото-результаты, которые ты увидишь ниже. Поверь, ты уже никогда не будешь прежней, ведь мы тебе расскажем - возможно ВСЁ, что ранее казалось невозможным, стоит только попробовать это на себе…)
  .letter-block
    h3 <span class="h-icon crown"></span>О проекте
    p Он-лайн конкурс преображения для Женщин "PROкачSHOW"- это 5 недель работы над собой в формате он-лайн соревнований для девушек, проживающих в любых уголках земного шара. Единственное условие участия – наличие доступа в Интернет.
    p В полной программе участия после заполнения подробной анкеты, содержащей вопросы, в том числе о состоянии здоровья и образе жизни участницы, выдаётся Программа Питания и Домашних Тренировок (видео-уроки) с учетом индивидуальных особенностей, с планом их проведения для получения желаемого результата.
  .letter-block
    h3 <span class="h-icon week"></span>Каждую неделю участница получает:
    ul
      li Тематические обучающие семинары на темы: правильного питания и тренировок, красоты, стиля и ухода за собой, целеполагания и планирования времени, финансовой грамотности и ведению бизнеса, психологии отношений (в семье, с мужьями, детьми, родителями). Одиноких девушек учим выходить из зоны комфорта и знакомится с ДОСТОЙНЫМИ мужчинами, даём мощный эмоциональный толчок к созданию крепкой семьи.
      li Лекции и консультации, на очень важные темы о здоровье, от дипломированных специалистов.
      li Работу над избавлением от зависимостей (включая поиск и работу над первопричинами): гиперфагия (обжорство, зависимость от вкуса), булимия (переедание, с дальнейшей рвотой), анорексия (добровольный отказ от пищи), курение, подконтрольное употребление алкоголя (по выходным), подконтрольное употребление наркотиков (от случая к случаю)
  .letter-block
    p <b>Раз в неделю, участница получает соревновательное спортивное задание</b> (упражнение на количество повторений или на время). Упражнения не требуют особенной физической подготовки и посильны всем, кто тренируется по предложенным программам. Также участницам раз в неделю даётся креативное задание, оно делается ПО ЖЕЛАНИЮ, помогает девушкам выйти из зоны комфорта и посмотреть на себя или сложную для неё жизненную ситуацию с другой стороны. А самая креативная участница получает СПЕЦИАЛЬНЫЙ ПРИЗ Обучение на телеведущую В ОСТАНКИНО!
    p В проекте создаётся семейная, душевная обстановка. Каждой девушке даётся уникальная возможность общаться с организаторами, психологами, диетологами, тренерами проекта ЛИЧНО, без администраторов, и получать внеплановые консультации по психологии и ответы на любые, беспокоящие их вопросы, в любое удобное им время суток. Тем самым проект уникален, так как каждой девочке уделяется особое внимание, даётся помощь и крепкая рука персонального психолога, диетолога и тренера.
  .letter-block
    h3 <span class="h-icon answ"></span>Ответы, на часто задаваемые вопросы:
    ul
      li Предложенные тренировки можно выполнять как в домашних условиях, так и в зале:)
      li Вылета из проекта нет. Все участницы доходят до конца программы ;)
      li Обеспечена полная конфиденциальность;) Ваши фотографии и информация из анкет дальше закрытого чата проекта не уйдут. Публикация фотографий «ДО» и «ПОСЛЕ» осуществляется только если вы в финале и боретесь за главный приз.
  .letter-block
    h3 <span class="h-icon diamond"></span>Дополнительной мотивацией является возможность получить ценные призы:
    ul
      li <b>Пластическая операция на выбор:</b> маммопластика, ринопластика, блефаропластика, челюстно-лицевая хирургия, абдоминопластика, липосакция, липоскульптурирование
      li <b>Белоснежные виниры</b>
      li <b>Гранды на обучение</b> на дипломированных специалистов в сфере Красоты и Спорта!
      li <b>ДЕНЕЖНЫЕ ПРИЗЫ</b>, которые полностью изменят твою жизнь! Ты получишь возможность изменить себя или даже начать свое собственное дело! При решении направить выигранные средства на развитие собственного стартап-проекта, мы гарантируем помощь в его реализации!
  .letter-block
    h3 <span class="h-icon deviz"></span>Девиз нашего проекта -<br/>"Быть, а не казаться!"
    p Наш проект стремится трансформировать миллионы женщин по всему миру и помочь обрести настоящее, женское счастье и гармонию!
  .letter-block
    h3 А теперь... листай ниже и мотивируйся дальше...
    p Помимо сотен результатов с сезонов у нас есть результат одной потрясающей девушки Даши, которая прошла не только сезон нашего Проекта, но и поучаствовала в профессиональной подготовке к соревнованиям по Бодибилдингу и Фитнесу, и вышла в номинации Фитнес-Модель. Даша заняла на соревнованиях почетное 7 место!!! Вошла в ТОП-8 из 28! Участниц своей категории. И доказала всем и в первую очередь самой себе - НЕВОЗМОЖНОЕ ВОЗМОЖНО!!
    .best-wrap
      img.best(src=require("../img/best.jpg"))
      .best-notice 54кг / 70кг
  .letter-block
    h3 <span class="h-icon inf"></span>Итак, а теперь информация как же вступить в наши ряды самых красивых, уверенных и здоровых женщин Мира:
    p <b>Нужно выбрать одну из трёх программ участия.</b>Все программы действуют в рамках единого Сезона продолжительностью 5 недель с единым призовым фондом и спортивным соревновательным этапом:
    ul
      li <b>Программа похудения «Лайт»</b> помогает легко перестроиться на здоровый образ жизни в команде единомышленников. Программа включает еженедельное обновление меню и контроль результатов. Стоимость – 3 000 руб.
      li <b>Программа «Леди-Классик»</b> - является проверенной программой, которая даёт возможность не просто перейти на правильное питание и настроиться на регулярные тренировки в команде единомышленников, но и получить возможность прослушать базовые лекции по питанию, организации тренировочного процесса и психологии отношений, а также обсуждение вопросов с экспертами в сфере здоровья и красоты. Стоимость программы – 5 000 руб.
      li <b>Программа «Малышка на Миллион»</b> -	полный авторский курс Проекта PROкачSHOW, который включает: индивидуальные программы питания и тренировок, расширенный курс лекций, нацеленный на всестороннее развитие, и консультации с экспертами-психологами и др. Стоимость программы – 7 000 руб.
  .letter-block
    h3 <span class="h-icon party"></span>Всё ещё думаешь? Торопись!<br/>МАЛО МЕСТ !!! НАБОР ОГРАНИЧЕН!
  .letter-block
    h3 Отзывы участниц
    p
      .ltr-link-wrap
        a(href="https://vk.com/proka4show" target="_blank") Отзывы участниц в нашей группе вконтакте
      .ltr-link-wrap
        a(href="https://www.instagram.com/p/BTEFhLKDGNr/" target="_blank") Отзывы участниц 3 сезона
      .ltr-link-wrap
        a(href="https://www.instagram.com/p/BVMuQ7UD83L/" target="_blank") Отзывы участниц 4 сезона
      .ltr-link-wrap
        a(href="https://www.instagram.com/p/BW91AklDt6v/" target="_blank") Отзывы участниц 5 сезона
      .ltr-link-wrap
        a(href="https://www.instagram.com/p/BZd7a3jD8Fm/" target="_blank") Отзывы участниц 6 сезона
      .ltr-link-wrap
        a(href="https://www.instagram.com/p/BbthtfVj4NK/" target="_blank") Отзывы участниц 7 сезона
      .ltr-link-wrap
        a(href="https://www.instagram.com/p/BdXF2v8D9c1/" target="_blank") Отзывы участниц 8 сезона
  .letter-block
    .letter-button-wrap
      span.button.dark.drop-shadow(id="show-results") Результаты участниц

