svg.wave-top(x="0px" y="0px" viewBox="63.4 484.8 2580.6 109.7")
  path(d="M504.4,519.7c328.3,44.9,470,6.7,596-3.8c126-10.5,298.4-5.5,475.7,31.5s390,56.1,598.1-24.1c208.1-80.2,330.8-16.2,469.8,20.4c0,33.2-0.6,10.9-0.6,51.9c-715.1-2.9-2258.7-0.2-2579.4,0.8c0-28.1-0.6-27.1-0.6-39.7C142.6,522.2,287.1,490.1,504.4,519.7z")
svg.wave-bottom(x="0px" y="0px" viewBox="0 1557.3 2834.6 120.5")
  path(d="M2350.2,1639.4c-360.6-49.3-516.3-7.4-654.7,4.2s-327.8,6-522.5-34.6c-194.8-40.6-428.4-61.6-657,26.5c-228.6,88.1-363.4,17.8-516-22.4c0-36.5,0.7-12,0.7-57c785.5,3.2,2481.1,0.2,2833.3-0.9c0,30.9,0.7,29.8,0.7,43.6C2747.7,1636.6,2588.9,1671.9,2350.2,1639.4z")